
img{
    height: 185px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
   
    padding: 1%;
}


header{
    height: 100px;
    width: 100%;
    padding: 10px;
}
h1{
    font-size: 3em;
}
select{
    margin: 20px;
    height: 30%;
    width: 30%;
}

