.photo-template{
    font-size: 1em;
    height: 320px;
    width: 250px;
    text-align: center;
    display: block;
    margin: 15px;
    padding: 10px;
}

main p{
    margin: 10px;
    font-size: 1.1em;
}

section#results,section#results2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}